<div class="bg">
</div>
<div class="bg bg2">
</div>
<div class="bg bg3">
</div>
<div class="content">
  <strong><h2>Welcome to Habbitz</h2></strong>
  <h5>The soil to build your good habits </h5>
  <br />
   <%= button_to "Let's make it a habit!", "/habits",  method: :get, class: "btn-lg btn-primary"%> <br />
   <small> New to Habbit? Sign up <a href="/users/new"> here </a> </small>
</div>